name: Build APK

on:
  push:
    paths-ignore:
      - '**.md'

jobs:
  build:
    name: Build CI
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: '21'

      - name: Get short commit SHA
        run: echo "SHORT_SHA=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Build APK (testkey)
        run: ./gradlew build

      - name: Upload Debug APK (testkey)
        uses: actions/upload-artifact@v4
        with:
          name: OwnDroid-CI-${{ env.SHORT_SHA }}-debug-testkey
          path: app/build/outputs/apk/debug/app-debug.apk

      - name: Upload Release APK (testkey)
        uses: actions/upload-artifact@v4
        with:
          name: OwnDroid-CI-${{ env.SHORT_SHA }}-release-testkey
          path: app/build/outputs/apk/release/app-release.apk

      - name: Export key
        env:
          KEY_BASE64: ${{ secrets.KEY_BASE64 }}
        run: echo "$KEY_BASE64" | base64 --decode - > app/signature.jks

  upload-telegram:
    name: Upload Builds
    if: ${{ success() }}
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: Install HTTPie
        run: pip install httpie

      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts
      - name: Download telegram-bot-api-binary
        run: |
          mkdir ./binaries
          wget "https://github.com/jakbin/telegram-bot-api-binary/releases/download/latest/telegram-bot-api" -O ./binaries/telegram-bot-api
          chmod +x ./binaries/telegram-bot-api
      - name: Start API Server & Upload
        run: |
          ls ./artifacts/
          ls ./artifacts/*-debug-*/
          ls ./artifacts/*-release-*/
          unzip ./artifacts/*/*.zip
          export DEBUG_TEST_PWD=$(find artifacts -name "*-debug-testkey.apk")
          export RELEASE_TEST_PWD=$(find artifacts -name "*release-testkey.apk")
          ./binaries/telegram-bot-api --api-id=${{ secrets.TELEGRAM_API_APP_ID }} --api-hash=${{ secrets.TELEGRAM_API_HASH }} --local 2>&1 > /dev/null &
          export token=${{ secrets.TELEGRAM_BOT_KEY }}
          http -f POST "http://127.0.0.1:8081/bot$token/sendMediaGroup?chat_id=-1002216379163&media=%5B%7B%22type%22%3A%22document%22%2C%22media%22%3A%22attach%3A%2F%2Ffile1%22%2C%22caption%22%3A%22File%201%22%7D%2C%7B%22type%22%3A%22document%22%2C%22media%22%3A%22attach%3A%2F%2Ffile2%22%2C%22caption%22%3A%22File%202%22%2C%22parse_mode%22%3A%22MarkdownV2%22%7D%5D" file1@"$DEBUG_TEST_PWD" file2@"$RELEASE_TEST_PWD"
